@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{  color: #fff;
    font-family: "Press Start 2P", sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background: url(./imagens/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    /* background: rgb(91, 90, 90); */
}

header{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    text-align: center;
}

.imagem__perfil{
    border-radius: 50px;
    border: 4px solid #fff;
    box-shadow: rgb(28, 32, 93 / 24%) 0 2px 8px 0;
    height: 17em;
    width: 17em;
    margin-bottom: 1em;
}

.titulo{
    background-color: whitesmoke;
    border-radius: 1em;
    border: 5px solid rgb(3, 121, 255);
    color: rgb(7, 14, 102);
    display: inline-block;
    font-weight: bold;
    padding: 0.3em 0.6em;
}

.listas{
    box-sizing: border-box;
    list-style: none;
    margin: 0 auto;
    padding: 2em;
}

.listas__item{
    background-color: #fff;    
    border-radius: 10em;
    margin: 1em;
    padding: 1em;
}

.listas__link{
    color: rgb(0, 0, 0);
    text-shadow: blue 1px 1px 20px;
    text-decoration: none;
    font-size: .9em;
}

.riscado{
    text-decoration: line-through;
}
